<div class="card">
    <div class="card flex justify-content-center">
        <p-button [routerLink]="['/crearTipoProducto']" label="agregar tipo producto"></p-button>
    </div>

    <p-table [value]="tipo_producto" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>Nombre de la categoria</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tipo_producto>
            <tr>
                <td>{{ tipo_producto.id }}</td>
                <td>{{ tipo_producto.nombre }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>