.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
   
}

.logo {
    flex-grow: 1;

}

#logo-header {
    width: 150px;
    height: 150px;
}

.titulo {
    flex-grow: 2;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

